@use "./variables.scss";
@use "./preflight.css";
@use "./tailwind.css";
@use "./markdown.css";

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
}

#root {
  min-height: 100%;
  background: linear-gradient(to bottom, #afd7f7, #9dfee3);
}
